// Заголовки, общие БЄМ блоки и прочее...
._title {
	padding-top: 15px;
	text-transform: uppercase;
	font-weight: medium;
	letter-spacing: 2px;
	@include adaptiveValue("font-size", 24, 20);
  text-align: center;
  margin-bottom: toRem(30);
	position: relative;
}

._title:after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: -8px; 
		margin: 0 auto;
	  left: 0;
		right: 0;
	  width: 20%;
  	background: #ff5566;
	  /* optional animation */
	  -o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
}

@media (max-width:$mobile){
	 ._title::after{
		width: 40%;
	 } 
}

