// Заголовки, общие БЄМ блоки и прочее...
._title {
	padding-top: 15px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	@include adaptiveValue("font-size", 24, 20);
  text-align: center;
  margin-bottom: toRem(30);
	position: relative;
}

._title:after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: -8px; 
		margin: 0 auto;
	  left: 0;
		right: 0;
	  width: 20%;
  	background: #ff5566;
	  /* optional animation */
	  -o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
}

@media (max-width:$mobile){
	 ._title::after{
		width: 40%;
	 } 
}

.menu-book{
	border-radius: 25px;
	background-color: hsl(354, 100%, 66.67%);
	display: block;
	padding: 0.1rem 1rem;
	transition: all 0.5s;
	@media (any-hover: hover){
		&:hover{
			background-color: hsl(354, 100%, 70.67%);
		}
	}
}

@media (max-width:$mobile){
	.menu-book{
		padding: 0.5rem 2rem;
	}
}

li:first-child a {
	@media (any-hover: hover){
		&:hover{
			color: hsl(0, 0%, 100%);
		}
	}
}