//====================================================================================================
.footer {
	background-color: #000;
  padding: 15px;
  text-align: center;
	color: #fff;
}
.footer__container {
}
.footer__social {
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 25px;
	max-width: 460px;
	margin: 0 auto;
}
._icon-facebook {
}
._icon-telegram {
}
._icon-instagram {
}
._icon-linkedin {
}
._icon-x-twitter {
}


.social-icon{
	color: rgb(168, 167, 167);
	font-size: 35px;
	cursor: pointer;
	transition: color 0.2s linear;
	&:hover {
    color: hsl(20, 0%, 100%);
  }
}

.developed__by{
	color: #b8b0b0;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 400;
	text-decoration: none;
}


.footer-copy-rights {
	font-size: 14px;
	margin-top: 10px;
	color: #b8b0b0;
}












.footer {
}
.footer__container {
}
.footer__social {
}
.social-icon
		 {
}
._icon-facebook {
}
._icon-telegram {
}
._icon-wa {
}
.footer-copy-rights {
}
//====================================================================================================
