//====================================================================================================

//====================================================================================================
// HOME
.home__content {
}
.home__title {
}
.home {
}

.home__bg-image {
  position: relative;
	height: 100%;
	width: 100%;
	height: 50vh;
}


.home__bg-image::before{
  content: "";
  height: 100%;
	width: 100%;
  position: absolute;
  bottom: 0;
	top: 0;
  left: 0;
  right: 0;
	z-index: 1;
	background-image: url("@img/bg/phone.jpg");
	background-size: cover;
}

@media (min-width:$mobile){
.home__bg-image::before{
	background-image: url("@img/bg/bg.jpg");
	}
}


@media (max-width:$mobile){
.home__bg-image {
		.home__text h1{
			width: 100%;
		}
		.home__text p{
			width: 100%;
			top: 65%;
		}
		.home__text span {
			font-weight: 500;
			font-size: 24px;
			width: 100%;
		}
	}
}


.home__text {
}

.home__text h1{
	@include adaptiveValue("font-size", 45, 30);
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	line-height: 1.3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
}

.home__text p{
 @include adaptiveValue("font-size", 25, 16);
 color: #fff;
 line-height: 1.5;
 font-weight: 400;
 letter-spacing: 1px;
 text-align: center;
 position: absolute;
 top: 70%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 2;
 width: 100%;
}

.home__text span {
	font-weight: 400;
	width: 100%;
}


//   FORM ======================================
.form-container{
	padding: 0 15px;
}

.home__form {
	background-color: #ff5566;
	padding: 40px 15px 20px 15px;
	max-width: 480px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 0 0 14px 14px;
}

.form__title{
	font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.form__title::after{
	content: "";
  display: block;
  width: 50%;
  height: 2px;
	bottom: -8px;
	border-radius: 2px;
  background-color: #000;
	margin: 0 auto;
}


.contact__form {
	position: relative;
}
.contact__group {
	display: grid;
	row-gap: 2.5rem;
}
.contact__box {
	position: relative;
	width: 100%;
	height: 58px;
}
.contact__input {
	font-size: 20px;
	outline: none;
	border: none;
}


.contact__input{
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ff5566;
	border: 2px solid #000;
	color: #fff;
	padding: .5rem 1rem;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 2px;
	font-weight: 400;
	transition: border .4s, background-color .4s;
}

.contact__input::placeholder{
	color: #000;
	transition: opacity .4s;
}

.contact__input:focus{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #fff;
}

.contact__input:-webkit-autofill{
	transition: background-color 6000s, color 6000s;
}


.contact__label {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
		background-color: #ff5566;
	padding: 8px;
	pointer-events: none;
	transition: top .4s, opacity .4s, background-color .4s;
	opacity: 0;
}

.contact__form .contact__area{
	height: 10rem;
}


.contact__area textarea{
	resize: none;
	padding-top: 1rem;
}
.contact__button {
	background-color: #000;
	cursor: pointer;
	padding: 10px 30px;
	width: fit-content;
	border-radius: 10px;
	color: #fff;
	border: none;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.contact__button:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

.form__button{
	display: flex;
	align-items: center;
	justify-content: right;
}

.contact__input:focus::placeholder{
	opacity: 0;
}

// Move label up & sticky label
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label
{
	opacity: 1;
	top: -16px;
}


.button {
}






//  AREAS 
.areas__container {
}
.locations {
}
.section__title {
}
.locations__body {
	background-color: #b8b0b0;
	padding: 50px 15px 60px 15px;
	position: relative;
	z-index: 1;
}
.locations__body::before {
	content: "";
  background-color: #f2f2f2;
  height: 100%;
	width: 100%;
  position: absolute;
  bottom: 0;
	top: 0;
  left: 0;
  // right: 0;
	z-index: -1;
	background-image: url("@img/areas/bg-map.jpg");
}
.locations__list {
	  display: flex;
    flex-wrap: wrap;
    row-gap: toRem(10);
}
.locations__row {
	  display: flex;
    flex-wrap: wrap;
    row-gap: toRem(30);
    margin: 0px -7px;
}
.location__column {
	  flex: 0 1 50%;
    padding: 0px 7px;
    @media (min-width:$mobile){
         flex: 0 1 33%; 
    }
}
.location__item {
	  position: absolute;
    display: flex;
    gap: toRem(1);
    letter-spacing: toRem(1);
    line-height: 120%;
    font-size: toRem(16);
    line-height: 120%;
    font-weight: 400;
    letter-spacing: toRem(2);
    color: #fff;
    &:not(:last-child) {
        margin-bottom: toRem(15);
    }
}
._icon-location {
}




// SERVICES =================================
.services__container {
}
.section__title {
}
.services__slider {
}
.swiper {
}
.services__wrapper {
}
.swiper-wrapper {
}
.services__slide {
}
.swiper-slide {
}
.services__card {
}
.services__card img{
	width: 100%;
  height: 100%;
  object-fit: cover;
	border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}


// REVIEWS 
.reviews__container {
}
.section__title {
}
.reviews__slider {
}
.swiper {
}
.reviews__wrapper {
}
.swiper-wrapper {
}
.reviews__slide {
}

.review__card {
	padding: 20px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.review__item::after{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	content: "";
  position: absolute;
  top: 0;
  left: 0;
	bottom: 0;
  width: 100%;
  height: 92%;
	background-image: url("@img/reviews/bg-review-3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
  border-radius: 15px;
	opacity: 0.8;
}

// .swiper {
//   width: 100%;
//   height: 100%;
// }

.swiper .swiper-slide {
  height: auto;
}

.review__img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

.review__img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.review__body {
}
.review__text {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
}
.review__author {
  font-size: 16px;
  font-weight: 600;
	color: #fff;
	display: flex;
	justify-content: right;
	font-style: italic;
	letter-spacing: 1px;
}

.swiper-slide {
	padding: 10px 0px 40px 0;
}

.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}





// CONTACTS 
.contacts__container {

}
.section__title {
}
.contacts-container {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contacts__head {

	background-color: #17509E ;
	color: #fff;
	text-align: center;
	padding: 40px 20px;
}

.contacts__head h2{
	font-size: 30px;
	line-height: 130%;
	margin-bottom: 20px;
}

.contacts__head span{
  font-weight: 700;
}

.contacts__head p{
	font-size: 16px;
  line-height: 1.5;
	font-weight: 400;
	letter-spacing: 1px;
}

.contacts__body {
	background-color: #f2f2f2;
	padding: 30px 15px;
	display: flex;
	justify-content: space-between;
  flex-direction: column;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
}

@media (min-width:$mobile){
	 .contacts__body{
		 flex-direction: row;
	 } 
}

.contact-item {
	text-align: center;
	padding: 15px 10px;
	margin: 0 auto;
}
.contact-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 30px;
  margin-right: 10px;
	background-color: red;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
._icon-location {
}
.contact-info {
	
}
.contact-info a{
	@include adaptiveValue("font-size", 18, 16);
	color: #000;
	letter-spacing: 1px;
}
.contact-info h3{
	font-size: 20px;
	font-weight: 500;
  line-height: 130%;
	letter-spacing: 1px;
	margin: toRem(15) toRem(0) toRem(5) toRem(0);
}
.contact-info p{
	font-size: 18px;
  line-height: 1.2;
}




// FOOTER ===========================================
.footer {
	background-color: #000;
  padding: 15px;
  text-align: center;
	color: #fff;
}
.footer__container {
}
.footer__social {
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 25px;
	max-width: 460px;
	margin: 0 auto;
}
._icon-facebook {
}
._icon-telegram {
}
._icon-instagram {
}
._icon-linkedin {
}
._icon-x-twitter {
}

.social-icon{
	color: #fff;
	font-size: 25px;
}

.footer-copy-rights {
	font-size: 14px;
	margin-top: 10px;
	color: #b8b0b0;
}
